body
{
    background-color: #DCDBE0;
    font-family: Verdana,sans-serif;
    padding: 20px;
    padding-top: 1px;
}

header
{
    text-align: center;
}


footer
{
    background-color: #C2C1CC;
    text-align: center;
    font-size: 10px;
}

#nombre
{
    color: darkmagenta;
}

table.tecno
{
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: #FFF;
    color: #024457;
    border: 5px solid #167F92;
    padding: 3px;
}

table.tecno tr 
{
    border: 1px solid #D9E4E6;
}

table.tecno tr:nth-child(odd) 
{   
    background-color: #EAF3F3;
}

nav 
{
    overflow: hidden;
    border-style: solid;
    border: 5px color: black;
	text-align: center;
    background-color: white;
    font-size: 20px;
    padding: 10px;
}

nav a 
{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
}

nav a:hover 
{
    background-color: lightgray;
    color: black;
}

.active 
{
    background-color: #4CAF50;
    color: white;
}